name: ORT Test

on:
  push:
    branches: [main]

jobs:
  ort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0
      - name: Run OSS Review Toolkit
        id: ort
        uses: oss-review-toolkit/ort-ci-github-action@1805edcf1f4f55f35ae6e4d2d9795ccfb29b6021 # v1.1.0
        with:
          image: "ghcr.io/oss-review-toolkit/ort-minimal:73.0.0"
          run: >-
            labels,
            cache-dependencies,
            cache-scan-results,
            analyzer,
            scanner,
            advisor,
            evaluator,
            reporter,
            upload-results
          report-formats: "CycloneDx,SpdxDocument,WebApp"
          ort-cli-report-args: >-
            -O CycloneDX=output.file.formats=json,xml
            -O SpdxDocument=outputFileFormats=JSON,YAML